*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(39, 39, 39);
}
div#Central{
    margin: auto;
    margin-top: 10px;
    width: 960px;
    height: 960px;
    background-color: rgb(25, 0, 49);
}
p{
    color: azure;
    word-wrap: break-word;
}